**/__pycache__
ai/tensorflow/log_simple_graph
**/vk_config.json
bot/vk/re.jpg
trade/oanda/example/account.txt
trade/oanda/example/token.txt
**/set.txt
bot/telegram/user/*.session
syntax/araneum_upos_skipgram_600_2_2017.bin
