# Cache
## MacOS
.DS_Store

## Python
__pycache__/
*.pyc

## JS
package-lock.json
dist/
build/

## VKontakte
vk_config.json
vk_config.v2.json

## Jupyter Notebook
.ipynb_checkpoints/

## Editors
.idea/
.vscode/

## Mobile dev
.expo/
.expo-shared/

# Keys & sets
keys*
.env*

# Data

# Libraries

# Environments
env/
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Copyright notice
## Fonts
*.otf
*.ttf