trade/oanda/example/account.txt
trade/oanda/example/token.txt
syntax/araneum_upos_skipgram_600_2_2017.bin
syntax/conformity/data/
compile/exe/build/
compile/exe/dist/
compile/exe/main.spec

# Кэш

**/__pycache__/
**/*.pyc
**/vk_config.json
**/vk_config.v2.json
bot/telegram/user/*.session
**/.ipynb_checkpoints/
ai/tensorflow/log_simple_graph
bot/vk/re.jpg
**/package-lock.json

# Ключи

**/keys.json

# Данные

bot/vk/download/data/
bot/vk/download/re.txt

# Библиотеки

**/node_modules/

# Виртуальное окружение

server/python/flask/flask/
site/python/flask/flask/
serverless/now-flask/flask/
