absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
beautifulsoup4==4.7.1
boto==2.49.0
boto3==1.9.95
botocore==1.12.95
bs4==0.0.1
bz2file==0.98
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
cmake==3.13.3
cryptography==2.5
cycler==0.10.0
dask==1.0.0
DAWG-Python==0.7.2
decorator==4.3.0
Django==1.9.1
dlib==19.16.0
docopt==0.6.2
docutils==0.14
enum34==1.1.6
face-recognition==1.2.3
face-recognition-models==0.3.0
ffmpy==0.2.2
Flask==1.0.2
future==0.17.1
gast==0.2.2
gensim==3.7.1
grpcio==1.18.0
h5py==2.8.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.2.2
networkx==2.2
numpy==1.16.0
nvidia-ml-py3==7.352.0
opencv-python==4.0.0.21
pandas==0.23.4
pathlib==1.0.1
Pillow==5.4.1
protobuf==3.6.1
psutil==5.4.8
pycparser==2.19
pymongo==3.7.2
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pynvx==0.0.4
pyparsing==2.3.1
python-dateutil==2.7.5
python-telegram-bot==11.1.0
pytz==2018.9
PyWavelets==1.0.1
PyYAML==3.13
requests==2.21.0
s3transfer==0.2.0
scandir==1.7
scikit-image==0.14.1
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
smart-open==1.8.0
soupsieve==1.7.3
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
toolz==0.9.0
tqdm==4.29.1
urllib3==1.24.1
vk-api==11.4.0
Werkzeug==0.14.1
