absl-py==0.1.11
altgraph==0.15
amqp==2.2.2
astor==0.6.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
bleach==1.5.0
boto==2.48.0
boto3==1.5.33
botocore==1.8.47
bs4==0.0.1
bz2file==0.98
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
DAWG-Python==0.7.2
Django==2.0.2
docopt==0.6.2
docutils==0.14
future==0.16.0
futures==3.1.1
gast==0.2.0
gensim==3.3.0
grpcio==1.10.0
html5lib==0.9999999
idna==2.6
jmespath==0.9.3
kombu==4.1.0
macholib==1.9
Markdown==2.6.11
matplotlib==2.1.2
nltk==3.2.5
numpy==1.14.1
pefile==2017.11.5
Pillow==5.0.0
protobuf==3.5.2
PyInstaller==3.3.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pyparsing==2.2.0
pyTelegramBotAPI==2.2.3
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
smart-open==1.5.6
snowballstemmer==1.2.1
tensorboard==1.6.0
tensorflow==1.6.0
tensorflow-tensorboard==1.5.0
termcolor==1.1.0
urllib3==1.22
vine==1.1.4
vk-api==9.3.1
Werkzeug==0.14.1
