html,
body {
    padding: 0 15px 15px 15px;
    margin: 0;
    font-family: "YS Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

button {
    background-color: #fff;
}
