.notes {
	width: 90vw;
	margin: 40px 0 40px 5vw;
}

.notes div {
	width: 50%;
	height: 22vw;
	background: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.notes div div {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 9.5vw 0 0 0;
	height: 12.5vw;
	font-size: 3vw;
	text-align: center;
}

@media all and (max-width: 650px) {
	.notes {
		width: 100vw;
		margin: 0;
	}

	.notes div {
		width: 100%;
		height: 56vw;
	}

	.notes div div {
		font-size: 6vw;
		padding: 25vw 0 0 0;
		height: 31vw;
	}
}