@charset "utf-8";
@font-face {font-family: Myriad; src: url(8143.otf);}

body {
	margin: 0;
	padding: 55px 0 0 0;
	font: 19px Myriad; /* Arsenal-Bold Helvetica Arial Calibri */
}

hr {border: 1px solid #000; width: 100% - 2px;}
a, a:hover, a:active, a:visited {text-decoration: none; color: #000;}
table, tr, td {border: 1px solid #000 border-collapse: collapse;}

/* Отступы */

div, table, tr, td, hr {margin: 0; padding: 0;}

/* Размеры */

/* Позиционирование */

img, div, form {display: inline-block;}
input {display: block;}
body, div, form {vertical-align: top;}

/* Формы */

form {width: 80%;}

input, textarea {
	width: 100%;
	font-size: 20px;
	border-radius: 15px;
	margin: 7px;
	padding: 7px 10px 7px 10px;
	border: 1px solid #c0c0c0;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
} /* background-color: #c0c0c0; */

input[type="submit"] {
	width: calc(100% + 22px);
	margin: 15px 7px 7px 7px;
	background-color: #c0c0c0;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #fff;
	border: 1px solid #00bfff;
}

textarea:focus, input:focus {outline: none;}

input:hover, input:active, input:focus, textarea, textarea:active, textarea:focus {
	border: 1px solid #00bfff;
	background-color: #fff;
}

input:valid:not(input[type="submit"]) {border: 1px solid #00e600;}

input[type="checkbox"] {
	width: 20px;
	padding: 20px 0 0 0;
}

input[type="file"] {border: 0;}

/* Верхняя полоса */

.header {
	left: 0;
	top: 0;
	width: 100vw;
	height: 55px;
	position: fixed;
	z-index: 9;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

.header a {
	height: 100%;
	color: #fff;
}

.header img {
	height: 100%;
	margin: 0 1.7vw 0 1.7vw;
}

.header a div, .expand div {
	/*font: 19px Arial;*/
	padding: 16px 2vw 16px 2vw;
}

.expand form {
	width: 20vw;
	margin: 2px 30px 2px 10px;
}

.expand input {border: 0;}

.expand {
	width: 45vw;
	float: right;
	position: fixed;
	left: 55vw;
	top: 0;
	z-index: 10;
}

.expand div {
	float: right;
}

.expand a {
	color: #fff;
}

.expand > a {
	display: none;
	padding: 16px 0 16px 0;
}

@media all and (max-width: 900px) {
	.expand form, .del {display: none;}
}

@media all and (max-width: 650px) {
	.expand {display: none;}
}

@media all and (max-width: 480px) {
	.header {text-align: center;}

	.header > a {display: none;}

	.expand {
		width: 100vw;
		height: calc(100vh - 55px);
		position: fixed;
		background-color: #000;
		top: 55px;
		left: 0;
		display: none;
		text-align: center;
	}

	.expand form {
		display: block;
		width: calc(100vw - 30px);
		margin: 0;
	}

	.del {display: inline-block;}

	.expand div, .expand > a {
		width: 100vw;
	}

	.expand > div {
		margin: 0 0 20px 0;
		width: calc(100vw - 15px);
	}

	.expand > a {
		display: block;
	}
}

.header a div:hover, .expand > a:hover {
	background-color: #fff;
	color: #000;
}

/* Списки */

.list {
	margin: 20px 0 10px 30px;
}

.list div {
	font: bold 23px Arial;
}

.list a {
	padding: 5px 0 0 25px;
	display: block;
}

@media all and (max-width: 480px) {
	.list {
		margin-left: 15px;
	}
}

/* Статьи */

.notes {
	width: 90vw;
	margin: 40px 0 40px 5vw;
}

.notes div {
	width: 50%;
	height: 22vw;
	background: no-repeat;
	-moz-background-size: 100%;
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

.notes div div {
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 9.5vw 0 0 0;
	height: 12.5vw;
	font-size: 3vw;
	text-align: center;
}

@media all and (max-width: 650px) {
	.notes {
		width: 100vw;
		margin: 0;
	}

	.notes div {
		width: 100%;
		height: 56vw;
	}

	.notes div div {
		font-size: 6vw;
		padding: 25vw 0 0 0;
		height: 31vw;
	}
}