{% extends "main.html" %}
{% block cont %}

<div class="u-title">Добавить статью</div>

<form action="/sys_add_article" method="post" enctype="multipart/form-data">
	<input type="text" name="name" placeholder="Название" autocomplete="off" readonly onfocus="this.removeAttribute('readonly')" required>

	<input type="file" name="preview" class="preview" id="preview">
	<label for="preview">Выбрать превью</label>
	<script>
$('.preview').on('change', function() {
	var file = this.value.split('\\');
	file = file[file.length-1];

	if ($('div').is('.u-files')) {
		$('.u-files').html(file);
	} else {
		$('label').after('<div class="u-files">' + file + '</div>');
	}
});
	</script>

	<select name="category" required>
		<option disabled selected>Категория</option>
		
{% for i in categories %}
		<option value="{{ i.id }}"{% if i.id == selected %} selected{% endif %}>{{ i.name }}</option>
{% endfor %}

	</select>
	<textarea name="cont" placeholder="Содержание" class="u-cont" required></textarea>

	<br><br>

	<input type="text" name="tags" placeholder="Теги" readonly onfocus="this.removeAttribute('readonly')" required>
	<textarea name="description" placeholder="Описание" class="u-descr" required></textarea>
	<input type="text" name="priority" placeholder="Приоритет" value="50" readonly onfocus="this.removeAttribute('readonly')">

	<input type="submit" value="Добавить">
</form>

{% endblock %}