{% extends "main.html" %}
{% block cont %}

<div class="info" onclick="change();">↑ Нажми на лого ↑</div>

<script>
place('.u-notes', 3, 100, 12, 7, 850, 450);
</script>

{% for i in categories %}

<a href="{{ i.url }}"><div class="u-title">{{ i.name }}</div></a>

<div class="u-notes">
{% for i in articles %}<a href="/{{ i.id }}"><div><div class="u-img" style="background-image: url(/static/{% if i.images %}load/articles/{{ i.images[-1] }}{% else %}photo{% endif %}.jpg);"></div><div class="u-text">{{ i.name }}<p>{{ i.description }}</p></div></div></a>{% endfor %}
</div>

<br><br>

{% endfor %}

{% endblock %}