{% extends "main.html" %}
{% block cont %}

<style>
.block img {height: 200px;}
.block a {color: blue;}
</style>

<h2 class="title2">Информация</h2>
<div class="block">
	<div style="text-align: center; width: 100%;">{% for i in competion.images %}<img src="/static/load/competions/{{i}}.jpg">{% endfor %}</div>
	<br>
	{% if competion.access %}
	<form action="/image?id={{competion.id}}" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		<input type="submit" value="Добавить">
	</form><br>
	{% endif %}

	{% if competion.access %}<form action="/edit?id={{competion.id}}" method="post">{% endif %}

	{% if competion.access %}<input type="text" name="name" value="{{competion.name}}">{% else %}{{competion.name}}{% endif %} &nbsp; (id: {{competion.id}})<br>

	{% if competion.access %}<input type="text" name="url" placeholder="Ссылка"{% if competion.url %} value="{{competion.url}}"{% endif %}>{% else %}{% if competion.url %}<a href="{{competion.url}}">{{competion.url}}</a><br>{% endif %}{% endif %}

	{% if competion.access %}<textarea name="description" placeholder="Краткое описание">{% if competion.description %}{{competion.description}}{% endif %}</textarea>{% else %}{% if competion.description %}<br>{{competion.description}}<br>{% endif %}{% endif %}

	{% if competion.access %}<textarea name="cont" placeholder="Полное описание">{% if competion.cont %}{{competion.cont}}{% endif %}</textarea>{% else %}{% if competion.cont %}<br>{{competion.cont}}<br>{% endif %}{% endif %}
</div>

{% if competion.type or competion.stage or competion.quantity or competion.prize or competion.access %}<h2 class="title2">О соревновании</h2>
<div class="block">
	{% if competion.access %}<input type="text" name="type" placeholder="Тип мероприятия"{% if competion.type %} value="{{competion.type}}"{% endif %}>{% else %}{% if competion.type %}{{competion.type}}<br>{% endif %}{% endif %}

	{% if competion.access %}<input type="text" name="stage" placeholder="Этап"{% if competion.stage %} value="{{competion.stage}}"{% endif %}>{% else %}{% if competion.stage %}Этап: {{competion.stage}}<br>{% endif %}{% endif %}

	{% if competion.access %}<input type="text" name="quantity" placeholder="Количество участников"{% if competion.quantity %} value="{{competion.quantity}}"{% endif %}>{% else %}{% if competion.quantity %}Количество участников: {{competion.quantity}}<br>{% endif %}{% endif %}

	{% if competion.access %}<input type="text" name="prize" placeholder="Главный приз"{% if competion.prize %} value="{{competion.prize}}"{% endif %}>{% else %}{% if competion.prize %}Главный приз: {{competion.prize}}<br>{% endif %}{% endif %}
</div>
{% endif %}

{% if competion.time or competion.durability or competion.geo or competion.access %}
<h2 class="title2">Проведение</h2>
<div class="block">
	{% if competion.access %}<input type="text" name="time" placeholder="Начало"{% if competion.time %} value="{{competion.time}}"{% endif %}>{% else %}{% if competion.time %}Начало: {{competion.time}}<br>{% endif %}{% endif %}

	{% if competion.access %}<input type="text" name="durability" placeholder="Длительность"{% if competion.durability %} value="{{competion.durability}}"{% endif %}>{% else %}{% if competion.durability %}Длительность: {{competion.durability}}<br>{% endif %}{% endif %}

	{% if competion.access %}<input type="text" name="geo" placeholder="Место проведения"{% if competion.geo %} value="{{competion.geo}}"{% endif %}>{% else %}{% if competion.geo %}Место проведения: {{competion.geo}}<br>{% endif %}{% endif %}
</div>
{% endif %}

<h2 class="title2">Организатор</h2>
<div class="block">
	{% if competion.access %}<input type="text" name="author" placeholder="Организатор"{% if competion.author %} value="{{competion.author}}"{% endif %}>{% else %}{% if competion.author %}{{competion.author}}<br>{% endif %}{% endif %}

	{% if competion.access %}<input type="submit" value="Сохранить"></form>
</div>{% else %}
	<история соревнований><br>
	</div>

	<h2 class="title2">Ещё</h2>
	<div class="block">
		<список соревнований><br>
</div>
{% endif%}

{% endblock %}