<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>{% if title %}{{title}} - {% endif %}{Source}</title>
	<link rel ="shortcut icon" type="images/png" href="/static/favicon.png">

	<meta name="author" content="Poloz Alexey (polozhev@mail.ru)">
	<meta name="description" content="{% if description %}{{ description }}{% else %}Статейник: Статьи на различные темы, оригинальный контент, информативно и по сути.{% endif %}">
	<meta name="keywords" content="{% if tags %}{% for i in tags %}{{ i }},{% endfor %}{% else %}Статейник,{% endif %}">

	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="/static/main_header.js"></script>
</head>
<body>

<div class="u-header">
	<div class="u-logo" onclick="change();">
		<!-- <img src="/static/logo.svg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 250">
			<defs>
				<style>
					.cls-1 {
						font-size: 250px;
						fill: #fff;
						font-family: "Avenir Next";
						font-weight: 700;
					}
				</style>
			</defs>
			<text id="_Source_" data-name="{Source}" class="cls-1" x="-0.727" y="197.008">{Source}</text>
		</svg>
	</div><div class="u-expand">
		<div class="u-search">
			<form action="/search" method="post">
				<input type="search" name="search" placeholder="Поиск">
			</form>
		</div><div class="u-user">

{% if user.id %}
			<a href="/cabinet">{{ user.login }}</a> &nbsp;<a href="/sys_sign_out" class="del">Выйти</a>
{% else %}
			<a class="del">Гость &nbsp;</a><a href="/login{% if url %}?url={{ url }}{% endif %}">Войти</a>
{% endif %}

		</div><div class="u-menu{% if without_menu %} u-without-menu{% endif %}">
			<div onclick="location.href='/'"{% if url == 'index' %} class="u-selected"{% endif %}>Главная</div>

			<hr>

{% for i in categories if not i.parent %}
			<div onclick="location.href='/{{ i.url }}'"{% if i.id == category and not subcategory %} class="u-selected"{% endif %}>{{ i.name }} <a href="/admin/add?i={{ i.id }}" class="u-add">+</a></div>

	{% if i.id == category %}
		{% for j in categories if j.parent == i.id %}
			<div onclick="location.href='/{{ i.url }}/{{ j.url }}'" class="u-sub{% if j.id == subcategory %} u-selected{% endif %}">{{ j.name }} <a href="/admin/add?i={% if j.id %}{{ j.id }}{% else %}{{ i.id }}{% endif %}" class="u-add">+</a></div>
		{% endfor %}
	{% endif %}
{% endfor %}

{% if user.admin and user.admin >= 6 %}
			<hr>

			<div onclick="location.href='/admin'"{% if category == -1 %} class="u-selected"{% endif %}>Админка</div>
{% endif %}

		</div>

<!-- onclick="ahref('/competions');" -->

	</div>
</div>

<div class="u-body{% if without_menu %} u-without-menu{% endif %}">

{% block cont %}{% endblock %}

</div>

<script src="/static/main_footer.js"></script>

</body>
</html>