<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>

{% if title %}
{{title}} - Projectivity
{% else %}
Projectivity
{% endif %}

	</title>
	<link rel ="shortcut icon" type="images/png" href="/static/favicon.png">
	<meta name="author" content="Poloz Alexey (polozhev@mail.ru)">

{% if description %}
	<meta name="keywords" content="{{description}}">
	<meta name="description" content="{{description}}">
{% else %}
	<meta name="keywords" content="Сервис поиска сокомандников на конкурсы, стартапы и конференции">
	<meta name="description" content="Сервис поиска сокомандников на конкурсы, стартапы и конференции">
{% endif %}
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="/static/main.js"></script>
</head>
<body>

<div class="u-header">
	<div class="u-logo" onclick="change();">
		<!-- <img src="/static/logo.svg"> -->
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 250">
			<defs>
				<style>
					.cls-1 {
						font-size: 250px;
						fill: #fff;
						font-family: "Avenir Next";
						font-weight: 700;
					}
				</style>
			</defs>
			<text id="_Source_" data-name="{Source}" class="cls-1" x="-0.727" y="197.008">{Source}</text>
		</svg>

	</div><div class="u-expand">
		<div class="u-search">
			<form action="/search" method="post">
				<input type="search" name="search" placeholder="Поиск">
			</form>
		</div><div class="u-user">

	{% if user.login %}
	<a href="/cabinet">{{user.login}}</a> &nbsp;<a href="/out" class="del">Выйти</a>
	{% else %}
	<a class="del">Гость &nbsp;</a><a href="/login{% if url %}?url={{ url }}{% endif %}">Войти</a>
	{% endif %}

		</div><div class="u-menu">
			<div><a href="/">Главная</a></div>
			<div><a href="/competions">Соревнования</a></div>
			<div><a href="/participants">Участники</a></div>
			<div><a href="/about">О нас</a></div>
		</div>

<!-- onclick="ahref('/competions');" -->

	</div>
</div>

<div class="u-body">

{% block cont %}{% endblock %}

</div>
</body>
</html>